<nav class="navbar navbar-expand">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Recipe Book</a>
        </div>

        <div class="collapse navbar-collapse show">
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#" (click)="goTo('recipes')">Recipes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" (click)="goTo('shopping-list')">Shopping List</a>
                </li>
            </ul>
            
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown nav-item" appDropdown>
                    <a href="#" class="dropdown-toggle nav-link">Manage <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Save Data</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Fetch Data</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>