.container {
    .row {
        h3 {
            color: dodgerblue;

            &.app-title {
                padding: 10px 0px;
                border-bottom: 1px solid darkblue;
            }
        }
    }

}